<div class="panel panel-primary">
  <div class="panel-heading"><%= @song.title %></div>

  <div class="panel-body">


    <p>Host: <%= @song.artist.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Song url: <%= @song.song_url %></p>

    <!-- About -->


</div>

<%= link_to "Back", songs_path, class: "btn btn-default" %>
